.banner {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/headerrr.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .row {
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.banner .head-text-area {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.text-center {
  text-align: center;
}

.banner .container {
  height: 100%;
}

.banner .big-heading {
  margin-bottom: 15px;
  font-size: 75px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  color: white;
  text-align: start;
}

.banner .small-heading {
  font-size: 30px;
  text-align: start;
  color: white;
  font-weight: 400;
}

.big-heading a {
  position: relative;
  top: 5em;
}

.m-t-40 {
  margin-top: 40px !important;
}

.btn {
  background-color: #f44336;
  font-weight: bold;
}

.icon-scroll {
  width: 35px;
  height: 65px;
  margin-left: -17.5px;
  bottom: 30px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  left: 50%;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@media (min-width: 1200px){
  .banner .container {
      max-width: 1600px;
  }
}

@media (max-width: 786px) {
  .head-text-area {
    margin-bottom: 80px;
  }
  .banner .big-heading {
    font-size: 36px;
    text-align: center;
  }
  .banner .small-heading {
    font-size: 20px;
    text-align: center;
  }
  .banner {
    background-image: url(../assets/header_resp.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
}
