.banner-orcamento {
    background-image: url(../assets/header2.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 50px;
    height: 350px;
}

.nav-padding {
    padding-top: 60px;
}

.banner-orcamento .container {
    height: 100%;
}
.banner-orcamento .row {
    padding-bottom: 50px;
    height: 100%;
}

.banner-orcamento .proposta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner-orcamento h1 {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

.section-orcamento h2 {
    font-size: 26px;
    font-weight: bold;
}

.section-proposta p {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.section-proposta .btn-lg {
    font-size: 1rem;
}

.section-orcamento {
    padding: 70px 0px;
}
.section-orcamento .contato-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-orcamento .subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-orcamento .subtitulo p {
    max-width: 500px;
    font-size: 1rem;
    text-align: center;
    margin: 10px 0px 50px;
}

.section-orcamento .subtitulo span {
    display: inline-block;
    clear: both;
    width: 60px;
    border-top: 3px solid #FF5722;
    margin: 0px 0 30px;
}

.section-orcamento .btn-lg {
    font-size: 1rem;
}

.section-orcamento .contato-content .row {
    max-width: 650px;
}